version: 2.1

orbs:
  cimg: cci-dev/cimg@0.0.8
  docker: circleci/docker@0.5.9

dev-filters: &dev-filters
  branches:
    ignore: master

master-filters: &master-filters
  branches:
    only: master

lint-ignore-rules: &lint-ignore-rules
  DL3008,DL3015,SC2143,SC1051,SC1053,SC1059,DL4006

workflows:
  monthly-cron:
    triggers:
      - schedule:
          cron: "0 0 2 * *"
          filters: *master-filters
    jobs:
      - docker/hadolint:
          name: lint-ubuntu-monthly
          dockerfile: ubuntu/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *master-filters

      - cimg/build-test-deploy:
          name: ubuntu-monthly
          context: image-publishing
          dockerfile-path: ubuntu
          image-name: cimg/base
          image-tag: "${CIRCLE_SHA1:0:7}"
          extra-build-args: --pull
          goss-yaml-dir-path: ubuntu
          deploy: true
          publish-tag: "$( date +%Y.%m )"
          filters: *master-filters
          requires: [lint-ubuntu-monthly]

      - docker/hadolint:
          name: lint-node-monthly
          dockerfile: ubuntu/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *master-filters

      - cimg/build-test-deploy:
          name: node-monthly
          context: image-publishing
          dockerfile-path: variant-node
          image-name: cimg/base
          image-tag: "${CIRCLE_SHA1:0:7}-node"
          extra-build-args: --pull
          goss-yaml-dir-path: variant-node
          deploy: true
          publish-tag: "$( date +%Y.%m )-node"
          filters: *master-filters
          requires: [lint-node-monthly]

  commit-edge-dev:
    jobs:
      - docker/hadolint:
          name: lint-ubuntu-edge-dev
          dockerfile: ubuntu/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *dev-filters

      - cimg/build-test-deploy:
          name: ubuntu-edge-dev
          dockerfile-path: ubuntu
          image-name: cimg/base
          image-tag: "${CIRCLE_SHA1:0:7}"
          extra-build-args: --pull
          goss-yaml-dir-path: ubuntu
          filters: *dev-filters
          requires: [lint-ubuntu-edge-dev]

      - docker/hadolint:
          name: lint-node-edge-dev
          dockerfile: ubuntu/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *dev-filters

      - cimg/build-test-deploy:
          name: node-edge-dev
          dockerfile-path: variant-node
          image-name: cimg/base
          image-tag: "${CIRCLE_SHA1:0:7}-node"
          extra-build-args: --pull
          goss-yaml-dir-path: variant-node
          filters: *dev-filters
          requires: [lint-node-edge-dev]

  commit-edge-master:
    jobs:
      - docker/hadolint:
          name: lint-ubuntu-edge-master
          dockerfile: ubuntu/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *master-filters

      - cimg/build-test-deploy:
          name: ubuntu-edge-master
          context: image-publishing
          dockerfile-path: ubuntu
          image-name: cimg/base
          image-tag: "${CIRCLE_SHA1:0:7}"
          extra-build-args: --pull
          goss-yaml-dir-path: ubuntu
          deploy: true
          publish-tag: edge
          filters: *master-filters
          requires: [lint-ubuntu-edge-master]

      - docker/hadolint:
          name: lint-node-edge-master
          dockerfile: ubuntu/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *master-filters

      - cimg/build-test-deploy:
          name: node-edge-master
          context: image-publishing
          dockerfile-path: variant-node
          image-name: cimg/base
          image-tag: "${CIRCLE_SHA1:0:7}-node"
          extra-build-args: --pull
          goss-yaml-dir-path: variant-node
          deploy: true
          publish-tag: edge-node
          filters: *master-filters
          requires: [lint-node-edge-master]
