version: 2.1

orbs:
  cimg: cci-dev/cimg@0.0.10
  docker: circleci/docker@0.5.10

dev-filters: &dev-filters
  branches:
    ignore: master

master-filters: &master-filters
  branches:
    only: master

lint-ignore-rules: &lint-ignore-rules
  DL3006,DL3007,DL3008,DL3015,SC1072,SC1090,SC2039,SC2143 # remove DL3006 later, it's a good one

workflows:
  monthly-cron:
    triggers:
      - schedule:
          cron: "0 0 2 * *"
          filters: *master-filters
    jobs:
      - docker/hadolint:
          name: lint-ubuntu-monthly
          dockerfile: ubuntu/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *master-filters

      - cimg/build-test-deploy:
          name: ubuntu-monthly
          context: image-publishing
          dockerfile-path: ubuntu
          image-name: cimg/base
          image-tag: "$( date +%Y.%m )"
          extra-build-args: --pull
          goss-yaml-dir-path: ubuntu
          deploy: true
          publish-tag: stable
          filters: *master-filters
          requires: [lint-ubuntu-monthly]
          post-steps:
            - run:
                name: Prepare Node variant Dockerfile
                command: |
                  version="cimg/base:$( date +%Y.%m )"

                  sed -r -e 's!%%BASE_ORG_BASE_IMAGE_BASE_TAG%%!'"$version"'!g' variant-node/Dockerfile.template > variant-node/Dockerfile

            - persist_to_workspace:
                root: ~/
                paths: project

      - docker/hadolint:
          name: lint-node-monthly
          checkout: false
          attach-workspace: true
          workspace-root: ~/
          dockerfile: variant-node/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *master-filters

      - cimg/build-test-deploy:
          name: node-monthly
          checkout: false
          attach-workspace: true
          workspace-root: ~/
          context: image-publishing
          dockerfile-path: variant-node
          image-name: cimg/base
          image-tag: "$( date +%Y.%m )-node"
          extra-build-args: --pull
          goss-yaml-dir-path: variant-node
          deploy: true
          publish-tag: stable-node
          filters: *master-filters
          requires: [lint-node-monthly]

  commit-edge-dev:
    jobs:
      - docker/hadolint:
          name: lint-ubuntu-edge-dev
          dockerfile: ubuntu/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *dev-filters

      - cimg/build-test-deploy:
          name: ubuntu-edge-dev
          dockerfile-path: ubuntu
          image-name: ccitest/base
          image-tag: "$CIRCLE_BRANCH-${CIRCLE_SHA1:0:7}"
          extra-build-args: --pull
          goss-yaml-dir-path: ubuntu
          deploy: true
          filters: *dev-filters
          requires: [lint-ubuntu-edge-dev]
          post-steps:
            - run:
                name: Prepare Node variant Dockerfile
                command: |
                  version="ccitest/base:$CIRCLE_BRANCH-${CIRCLE_SHA1:0:7}"

                  sed -r -e 's!%%BASE_ORG_BASE_IMAGE_BASE_TAG%%!'"$version"'!g' variant-node/Dockerfile.template > variant-node/Dockerfile

            - persist_to_workspace:
                root: ~/
                paths: project

      - docker/hadolint:
          name: lint-node-edge-dev
          checkout: false
          attach-workspace: true
          workspace-root: ~/
          dockerfile: variant-node/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *dev-filters
          requires: [ubuntu-edge-dev]

      - cimg/build-test-deploy:
          name: node-edge-dev
          checkout: false
          attach-workspace: true
          workspace-root: ~/
          dockerfile-path: variant-node
          image-name: ccitest/base
          image-tag: "$CIRCLE_BRANCH-${CIRCLE_SHA1:0:7}-node"
          extra-build-args: --pull
          goss-yaml-dir-path: variant-node
          deploy: true
          filters: *dev-filters
          requires: [lint-node-edge-dev]

  commit-edge-master:
    jobs:
      - docker/hadolint:
          name: lint-ubuntu-edge-master
          dockerfile: ubuntu/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *master-filters

      - cimg/build-test-deploy:
          name: ubuntu-edge-master
          context: image-publishing
          dockerfile-path: ubuntu
          image-name: cimg/base
          image-tag: edge
          extra-build-args: --pull
          goss-yaml-dir-path: ubuntu
          deploy: true
          publish-tag: latest
          filters: *master-filters
          requires: [lint-ubuntu-edge-master]
          post-steps:
            - run:
                name: Prepare Node variant Dockerfile
                command: |
                  version=cimg/base:edge

                  sed -r -e 's!%%BASE_ORG_BASE_IMAGE_BASE_TAG%%!'"$version"'!g' variant-node/Dockerfile.template > variant-node/Dockerfile

            - persist_to_workspace:
                root: ~/
                paths: project

      - docker/hadolint:
          name: lint-node-edge-master
          checkout: false
          attach-workspace: true
          workspace-root: ~/
          dockerfile: variant-node/Dockerfile
          ignore-rules: *lint-ignore-rules
          filters: *master-filters
          requires: [ubuntu-edge-master]

      - cimg/build-test-deploy:
          name: node-edge-master
          checkout: false
          attach-workspace: true
          workspace-root: ~/
          context: image-publishing
          dockerfile-path: variant-node
          image-name: cimg/base
          image-tag: edge-node
          extra-build-args: --pull
          goss-yaml-dir-path: variant-node
          deploy: true
          filters: *master-filters
          requires: [lint-node-edge-master]
